html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  left: 0 !important;
  right: 0 !important;

  overflow: hidden;
  background: #f0f0f0;
}

.star-label {
  color: black;
  font-size: 13px;
  min-width: 16px;
  min-height: 16px;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.app-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0 !important;
  padding: 0;
}

.ui-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 160px;
  height: 100%;
  background: rgba(10, 20, 40, 0.85);
  color: #e6f0ff;

  padding: 10px 12px;
  border-radius: 10px;

  border: 1px solid rgba(120,180,255,0.6);
  box-shadow: 0 0 12px rgba(120,180,255,0.4);

  font-family: sans-serif;
  transition: transform 0.35s ease;
}

.ui-panel label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  opacity: 0.8;
}

.ui-panel select {
  width: 160px;
  background: rgba(20,40,80,0.9);
  color: white;
  border: 1px solid rgba(120,180,255,0.6);
  border-radius: 6px;
  padding: 6px;
}

.ui-panel .section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Open state */
.ui-panel.open {
  transform: translateX(0);
}

/* Closed state (slides left) */
.ui-panel.closed {
  transform: translateX(-150px);
}

.canvas-container{
  position: absolute;
  inset: 0;
  top: 0px !important;
  width: 100%;
}

.canvas-container canvas{
  width: 100% !important;
  height: 100% !important;
  display: block;
}


.github-link{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  opacity: 0.8;
}

.collapse-btn{
  position: relative;
  right: 0px;
  margin-left: 5px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(120,180,255,0.5);
  transition: 0.2s;
}